html {
  font-size: 16px;
}

body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin: 0;
  font-size: 14px;
  line-height: 1.42;
  font-weight: 400;
}

input,
textarea {
  outline: none !important;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  /* background: #001821; */
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.wrapper__content--main {
  position: relative;
  background: url("../../img/bg.jpg") no-repeat;
}

.wrapper__content--services {

  background: url("../../img/headline1.png") no-repeat;

}


.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1141px;
  min-width: 1141px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.container--title {
  margin-top: 118px;
}

.container--headertitle {

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}

.container--reviewtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.info-left__menu {
  flex: 1;
}

.container--offerline {
  height: 363px;
}

.container--form {
  /* margin-bottom: 96px; */
  padding-bottom: 96px;
}

.tag {
  color: #303030;
  font-size: 13px;
  background-color: #E7E7E7;
  border-radius: 35px;
  padding: 9px 19px 10px 18px;
}

.tag--active {
  background-color: #B9EAE4;
}