.footer {
  padding-bottom: 42px;
  background-color: #001821;
}

.footer__container {
  border-top: 2px solid rgba(255, 255, 255, .1);
 padding-top: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
  padding-top: 38px;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.contacts {
  font-style: normal;
}

.contacts__description {
  color: #9a9a9a;
  font-size: 11px;
  line-height: 20px;
  text-align: end;
}
