.footer {
  margin-top: 100px;
  margin-bottom: 57px;
  
}

.social__item,
.social {
  display: inline-block;
}

.social {
  margin-left: 274px;
  position: relative;
  vertical-align: middle;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.contacts {
  font-style: normal;

}

.contacts__description {
  color: #9a9a9a;
  font-size: 11px;
  line-height: 20px;
  text-align: end;
}

.footer__container {
  border-top: 2px solid rgba(255,255,255,.1) ;
  padding-top: 45px;
 
}