.form {  
  background-color: #F4F5F5;
  padding-top: 70px;
}
.form__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: #1A1B1E;
  
}
.form__row {
  display: flex;
  margin-bottom: 30px;
}
.form__set {
  padding-top: 70px;
}
.form__input {
  flex: 1;
  margin-right: 30px;

  background: #fff;
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
 
}
.form__input::placeholder {
color: #666666;
}
.form__input:last-child {
  margin-right: 0;
}
.form__up {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}
.form__input--textarea {
  height: 232px;
}
.form__controls {
  display: flex;
  margin-bottom: 10px;
}
.controls {
  flex:1;
  display: flex;
  flex-wrap: wrap;
}
.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.form__controls-title {
  color: #1A1B1E;
  font-size: 18px;
  width: 35%;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 12px; */
}

.form__clear, .form__submit {
  display: block;
  color: #fff;
  border-radius: 35px;
  padding: 18px 45px;
  margin: 0 20px;
  border:0;
  cursor: pointer;
}

