.header {
  height: 77px;
  
}

.header__img {
  position: absolute;
  width: 100%;
  
  
}

.logo,
.menu,
.menu__item,
.contacts {
  display: inline-block;
}

.logo,
.contacts {
  margin-top: 29px;
}

.logo {
  float: left;
}

.contacts {
  float: right;
}

.menu {
  margin-left: 79px;
  margin-top: 43px;
}

.menu__item {
  margin-right: 54px;
}

.menu__item:last-child {
  margin-right: 0px;
}
.menu__link {
	font-size: 14px;
  line-height: 16px;
}
.contacts__phone {
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  font-style: normal;
}

.contacts_info {
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  font-style: normal;
  text-align: end;
}