.logo__img--big {
  width: 100px;
}

.name-page {
  width: 50%; 
}

.conacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts_info:hover ~ .sheduler {
  /* left: 0; */
  opacity: 80%;
  right: 0;
}

.sheduler::before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  left: 0;
  top: 0;
  top: -9px;
  position: absolute;
}

.sheduler {
  position: absolute;
  width: 160px;
  height: 70px;
  top: 100%;
  right: -9999px;
  border-radius: 5px;
    
  background: #EDEDED;
  color: #1E1F20;
  font-size: 13px;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-left: 20px;
  margin-top: 10px;

  /* left: -9999px; */
  opacity: 0;
  transition: opacity .4s;
}
.sheduler::after {
  display: block;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #EDEDED;
  opacity: 80%;
  top: -5px;
  transform: rotate(45deg);
  left: 65%;
}

.sheduler__days {
  font-weight: bold;
}
.sheduler__lunch {
  font-weight: 600;
}