.hello {
  margin-top: 123px;
}

.hello__title{
  font-size: 72px;
  line-height: 93px;
  
  width: 511px;
  font-weight: bold;
  margin-bottom: 34px;
}

.hello__subtitle {
  font-size: 18px; 
  margin-top: 20px;
}