.hello {
  margin-top: 126px;
}

.hello__title{
  font-size: 72px;
  line-height: 93px;
  
  width: 511px;
  font-weight: bold;
}

.hello__subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-top: 34px;
  margin-bottom: 33px;
}