.news {
  margin-top: 126px;
}

.news__list {
  margin-top: 51px;
  display: flex;
}

.news__item {
  width: 557px;
  height: 394px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.news__item:last-child {
  margin-left: 20px;
}

.news__item--first {
  background: url("../../img/plain.png");
}

.news__item--second {
  background: url("../../img/surfer.png");
}

.news__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
}

.news__date {
  font-size: 14px;
  line-height: 21px;
}

.news__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 15px;
}

.news__subtitle {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 25px;
}

.news__subtitle--first {
  padding-bottom: 50px;
}