.offerline {
  background: url(../../img/rectangle.png);
  min-height: 363px;
}
.offerline__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.offerline__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerline__title, .offerline__img {
  width: 50%;
}

.offerline__img {
  width: 487px;
  height: 341px;
  background: url(../../img/couple.png) no-repeat;
  align-self: flex-end;
}