.paginator {
  text-align: center;
  margin-top: 57px;
}

.paginator__text {
  display: inline-block;
  margin-right: 25px;
}

.paginator__list {
  display: inline-block;

}

.paginator__item {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}

.paginator__item:last-child {
  margin-right: 0px;
}



.paginator__num {
  display: inline-block;  
  color: #fff;  
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

.paginator__num:hover {
  color: #F5170E;
  background: #fff;
  


}