.paginator {
  text-align: center;
  margin-top: 57px;
  height: 100px;
}

.paginator__text {
  display: inline-block;
  margin-right: 25px;
}

.paginator__list {
  display: inline-block;

}

.paginator__item {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}

.paginator__item:last-child {
  margin-right: 0px;
}

.paginator__num {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  z-index: 10;
  position: relative;
}

.paginator__num:hover {
  color: #F5170E;
}

.paginator__num:before {
  position: absolute;
  display: block;
  transition: .3s;
  content: url(../../img/Ellipse1.png);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: -1;
}

.paginator__num:hover:before {
  visibility: visible;
}