.reviews {
  margin-top: 30px;
}

.reviews__wrapper {
  display: flex;


}

.reviews__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reviews__list--left {
  margin-right: 27px;
}

.review__photo-elem {
  border-radius: 50%;
}

.reviews__item {
 
  width: 557px;

  background-color: #F4F5F5;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 50px 30px 30px 30px;
}
.review__tags {
  display: flex;
  align-items: flex-start;
}
.review {
  display: flex;
  flex-direction: column;
}

.review__up {
  display: flex;
  align-items: center;
}

.review__user {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review__name {
  font-size: 24px;
  color: #1A1B1E;
  font-weight: bold;

  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.review__name:hover {
  text-decoration: underline;
  color: #2E77A4;
  transition: .3s;
}

.review__name::after {
  content: url(../../img/vk-blue.png);
  height: 30px;
  margin-left: 10px;
}

.review__down {
  margin-top: 27px;
}

.review__title {
  color: #1A1B1E;
  font-weight: bold;
  font-size: 30px;
}

.review__text {
  color: #818181;
  font-size: 16px;
  line-height: 27px;
  margin-top: 13px;
}

.review__date {
  display: block;
  color: #1A1B1E;
  font-weight: 600;
  line-height: 27px;

  margin-top: 48px;
}