.services {
  margin-top: 432px;
}

.services__list {
  display: flex;
  flex-direction: column;
}

.services__item {
  width: 100%;
  display: flex;
  padding-bottom: 50px;
}
.services__img {
  margin-right: 57px;
  border-radius: 5px;
}

.services__header {
  font-size: 36px;
  color: #000;
  font-weight: bold;
  padding-top: 10px;
}
.services__description p {
  color: #303030;
  font-size: 16px;
  line-height: 27px;
  padding: 31px 0;
}