.social__image {
  width: 36px;
  height: 36px;
  position: relative;
}

.social__image::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background-position: -5px -51px;
  background-repeat: no-repeat;
  background-image: url(../../img/social.png);
}

.social__telegram.social__image::after {
  background-position: -5px -51px;
}

.social__vk.social__image::after {
  background-position: -51px -51px;
}

.social__f.social__image::after {
  background-position: -5px -5px;
}

.social__in.social__image::after {
  background-position: -51px -5px;
}