.welcome {
  margin: 0 auto;
}

.welcome__content {
display: flex;
flex-direction: column;
justify-content: center;
}

.logo--hello {
  width: 280px;
}

.welcome__subtitle {
  font-size: 18px;
  text-align: center;
}

