.welcome {
  margin: 0 auto;
}

.welcome__content {
display: flex;
flex-direction: column;
justify-content: center;

animation: opa .5s steps(1), welcome .2s ease .5s 5 alternate;
transition: all 0.5s ease-out;
}

.welcome__subtitle {
  font-size: 18px;
  text-align: center;
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes welcome {
  from {
    transform: scale(60%,60%)  ;

  }  
  to {
    transform: scale(100%,100%);

  }
}

