.welcome {
  margin: 0 auto;
}

.welcome__content {
display: flex;
flex-direction: column;
justify-content: center;

animation: welcome .2s ease 4 alternate forwards;
}

.welcome__subtitle {
  font-size: 18px;
  text-align: center;
}

@keyframes welcome {
  from {
    transform: scale(80%,80%);

  }


  to {
    transform: scale(120%,120%);

  }
}
